.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #210904;
}

.navbar-header button.navbar-toggle {
  clear: both; }

#header-nav {
  background-color: #DAF7A6;
  border-radius: 0;
  border: 0;
}


